<!DOCTYPE html>
<html lang="ja"
<head>
  <meta charset="UTF-8">
  <title>読めルンです。</title>
</head>
<body>
  <h1><a href="/">読め<span>ルン</span>です。</a></h1>
  <div class="wrap">
    <div class="img">
      <h2>たべものカイセキ。</h2>
      <%= image_tag(@image) %><br/>
    </div>
    <div class="analysis">
      <h2>結果</h2>
      <div class="analysis-text">
        <div id = "result">
          <ul>
            <li>この画像は...</li>
            <% @aaa.each do|a| %>
            <li><span><%= (a["score"]*100).round %>%</span>の確率で<span><%= a["class"] %></span>です。</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <center>
    <a href="/" class="btn-horizontal-border">ホームへ戻る</a>
  </center>
</body>
</html>
