<% path="food" %>
<% title="食べ物認証"%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>読めルンです。</title>
  <meta name="description" content="画像からテキストを生成し、タグ付けによる分類ができるWebアプリです。">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap" rel="stylesheet">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <h1><a href="/">読め<span>ルン</span>です。</a></h1>
  <h2><%= title %> 画像をアップロード</h2>
  <div class="upload-wrap">
    <div class="drag-area">
      <p>ここにファイルやフォルダをドラッグすると簡単に画像をアップロードできます</p>
    </div>
    <%= form_tag(path, method: "post", multipart: true, name: "uploadform") do %>
    <input id="myfile" type="file" name="image" accept="image/*">
    <input type="submit" class="submit-btn" value="送信" onclick="return checkForm();">
    <% end %>
  </div>
    <center>
    <a href="/" class="btn-horizontal-border">ホームへ戻る</a>
  </center>
</body>
</html>
