
<% if params["name"]=="1" %>
<% path="ddd" %>
<% title="文字認証"%>
<% elsif params["name"]=="2" %>
<% path="ccc" %>
<% title="顔認証"%>
<% elsif params["name"]=="3" %>
<% path="aaa" %>
<% title="食べ物認証"%>
<% elsif params["name"]=="4" %>
<% path="bbb" %>
<% title="ナンデモ認証"%>
<% end %>

<%= form_tag(path,method: "post" , multipart: true)   do  %>
  <p><%=title%></p>
  <%= file_field_tag :image  %>
  <%= submit_tag %>
<% end %>
