.second{
    text-align:		center;
    margin-top:		30px;
    margin-bottom:	30px;
}
.subtitle{
    letter-spacing:	10px;
    text-align:		center;
    font-size:		40px;
    font-weight:		bold;
    margin:		10px;
    color:		#a9a9a9;
    position:		relative;
    line-height:		1.4;
    padding:		0.25em 1em;
    display:		inline-block;
}
.subtitle span {
    color:		#66cdaa;
}
.subtitle:before, .subtitle:after {
    content:		'';
    width:		20px;
    height:		30px;
    position:		absolute;
    display:		inline-block;
}
.subtitle:before {
    border-left:		solid 3px #a9a9a9;
    border-top:		solid 3px #a9a9a9;
    top:			0;
    left:			0;
}
.subtitle:after {
    border-right:		solid 3px #a9a9a9;
    border-bottom:	solid 3px #a9a9a9;
    bottom:		0;
    right:		0;
}
.parent{
    width:		60%;
    margin:		0 auto;
    text-align:		center;
}
.child{
    float:		left;
    text-align:		center;
    width:		50%;
    font-size:		15px;
    font-weight:		bold;
    color:		#a9a9a9;
    line-height:		1.4;
    padding:		0.25em 1em 50px 0px;
    display:		inline-block;
}
.child span{
    color:		#66cdaa;
}
@media screen and (max-width: 800px){
    .second{
        text-align:	center;
        margin-top:	30px;
        margin-bottom:	30px;
    }
    .subtitle{
        letter-spacing:	10px;
        text-align:	center;
        font-size:	25px;
        font-weight:	bold;
        margin:		10px;
        color:		#a9a9a9;
        position:		relative;
        line-height:	1.4;
        padding:		0.25em 1em;
        display:		inline-block;
    }
    .subtitle span {
        color:		#66cdaa;
    }
    .parent{
        width:		60%;
        margin:		0 auto;
        text-align:	center;
    }
    .child{
        float:		left;
        text-align:	center;
        width:		100%;
        font-size:	20px;
        font-weight:	bold;
        color:		#a9a9a9;
        line-height:	1.4;
        padding:		0.25em 1em 50px 0px;
        display:		inline-block;
    }
    .child span{
        color:		#66cdaa;
    }
}
.picture1{
    border:		0px;
    width:		200px;
    height:		200px;
    background:	url(/images/text.jpg) left top no-repeat;
    background-size:	contain;
    transition:		.3s;
    clear:		both;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}
.picture2{
    border:		0px;
    width:		200px;
    height:		200px;
    background:		url(/images/face.jpg) left top no-repeat;
    background-size:	contain;
    transition:		.3s;
    clear:		both;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}
.picture3{
    border:		0px;
    width:		200px;
    height:		200px;
    background:		url(/images/food.jpg) left top no-repeat;
    background-size:	contain;
    transition:		.3s;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}
.picture4{
    border:		0px;
    width:		200px;
    height:		200px;
    background:		url(/images/earth.jpg) left top no-repeat;
    background-size:	contain;
    transition:		.3s;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}

.submit_btn:hover{
    cursor:		pointer;
    animation:		big 0.1s;
    animation-fill-mode:	forwards;
}
@keyframes big
{
    0% {transform: scale(1); }
    100% {transform: scale(1.2);}
}
.submit_btn:active{
    -webkit-filter: opacity(0.4);
    -moz-filter: opacity(0.4);
    -o-filter: opacity(0.4);
    -ms-filter: opacity(0.4);
    filter:		opacity(0.4);
}
.div-contents {
margin-top:15px;
}
